.wp-block-btp-project-grid {
    &:not(.block-editor-block-list__block) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2rem;

        article {
            box-sizing: border-box;
        }
    }
}
